.header-container{
    display: flex;
    justify-content: space-around;
    background-color: var(--background-header);
    color: var(--yellow-header);
    font-family: var(--letter);
    width: 100%;
}
