.card {
    display:flex;
    flex-direction: column;
    background-color: var(--white-bone);
    width: 100%;
}

.quote-container {
    display:flex;
    justify-content: center;
    
}
.font {
    font-family: var(--quotes-letter);
}

.quote-image {
    width: 10vh;
    height: 12vh;
}
