.card {
    display:flex;
    flex-direction: column;
    width: 800px;
    background-color: var(--white-bone);
}

.quote-container {
    display:flex;
    justify-content: center;
    
}
.font {
    font-family: var(--quotes-letter);
}