

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.f5-input{
    
    position: relative;
    z-index: 1;
    margin: 60px;
}

/* SEPARAR ELEMENTOS */cd 

.label-up{
    display: inline-block;
    width: 400px;
    padding: 10px;
    color: var(--green-ligth);
    background-color: var(--white-bone);
    border: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: 0;
    text-indent: 33%;
    transition: all .3s ease-in-out;
    z-index: 2;   
}



.label-up::placeholder{
    color: var(--green-dark);
    text-indent: 70px;
    opacity:0;
    transition: all .3s;
}



.label-up + label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--green-dark);
    color: var(--white-bone);;
    font-size: 1rem;
    padding: 10px;
    width: 30%;
    transition: transform .4s ease-in-out;
    border-radius: 3px;
    transform-origin: left bottom;
    z-index: 2;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.label-up + label:after,.label-up + label:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;   
}

.label-up + label:after {
    background: var(--green-dark);
    z-index: -1; 
}

.label-up + label:before {
    background: rgba(3,36,41,.2);
    z-index: -2;
   
}

/* ESTADO FOCUS */

.label-up:focus{
    text-indent: 0px; 
}

.label-up:focus::placeholder{
    opacity: 1;
    text-indent: 0px;
}

.label-up:focus + label{
    transform: rotate(-66deg);
}

.label-up:focus + label:before{
    transform: rotate(10deg);
}


/* ESTADO INVALIDO */

.label-up:invalid{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) ;
    border: none;
}






